<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> 件のエラーがあります:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :メール %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :コメント %>
    <%= form.text_area :content %>
  </div>
  <div class="field">
  <%= image_tag(@contact.image.url) if @contact.image && @contact.image.url %>
  <%= form.label :画像 %>
  <%= form.file_field :image %>
  <%= form.hidden_field :image_cache %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
