<!DOCTYPE html>
<html>
  <head>
    <title>インスタ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
  <div class="header">
  <div class="btn__container">
  <a href="#" class="btn">
    <i class="fab fa-instagram"></i>
    <span>instagram</span>
  </a> 
      <div class="header-title">インスタあぷり</div>
      <div class="header-list">
        <ul>
        </ul>
  </div>
  <% if logged_in? %>
      <%= link_to "プロフィール", user_path(current_user.id) %>
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
      <%= link_to '戻る', contacts_path %>
    <% else %>
      <%= link_to "アカウント登録", new_user_path %>
      <%= link_to "ログイン", new_session_path %>
    <% end %>
  <%= yield %>
  <div class="footer">
      <div class="footer-logo">フッター</div>
      <div class="footer-list">
        <ul>
        </ul>
      </div>
    </div>
  </body>
</html>
